@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
    font-family: 'Courier Prime', monospace;
}

.contact-info{
    text-align:center;
    margin-bottom: 15px;
    margin-top: 332px;
}

.contact-element {
    display: inline-block;
    padding: 100px;
    padding-top: 230px;
}