@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
  font-family: "Courier Prime", monospace;
}

/* .footer {
    margin-top: 1rem;
    padding: 3rem;
    background-color: rgb(235, 195, 64);
    text-align: center;
    width: 100%; 
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
} */

.footer {
  position: relative;
  /* left: 0; */
  bottom: 0;
  background-color: rgb(235, 195, 64);
  text-align: center;
  margin-top: 1rem;
  /* width: 100%; */
  width: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* z-index: 150; */
}

.icon-instagram {
  padding-right: 10px;
}

a {
  color: inherit;
}

a {
  transition: 0.6s;
}

a:hover {
  padding-bottom: 12px;
  color: rgb(80, 77, 77);
  border-bottom: 3px solid var(--secondary-color);
}

.copyright {
  font-size: 10px;
  margin-top: 10px;
  color: rgb(119, 118, 118);
}
