.gal{
display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: center;
  /* max-width: 1020px; */
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.gal img{
    width: 200px;
    padding-top: 30px;
    cursor: pointer;
    transition: .5s ease;

}

.gal img:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.title{
    text-align: center;
    margin-top: 100px;
    background-color: rgb(177, 190, 190);
    width: auto;
    padding-left: 10px;
    margin-left: 700px;
}


.modal img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display:block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    opacity: .4;
    visibility: hidden;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

 .btn-close {
    top: 50px;
    right: 40px;
}

.btn-prev {
    top: 70%;
    transform: translateY(100px);
    left: 400px;
}

.btn-next {
    top: 70%;
    transform: translateY(-50%);
    right: 400px;
}