@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    font-family: 'Courier Prime', monospace;
}

/* .background-img {
    position: fixed;
    max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.background-img {
    max-width: 100%;
    max-height: 60%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    border-color: white;
}

.container .btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
}